extends layout

block content
  h1 Delete all mandates

  div
    p Do you really want to delete all mandates?
    
    form(method='POST' action='')
      div.form-group

      button.btn.btn-primary(type='submit') Delete
