nav.navbar.navbar-default
  div.container-fluid
    div.navbar-header
      a.navbar-brand(href="/") ORCAP
      ul.nav.navbar-nav
        li.active
          a(href="/") Home
        li
          a(href="/mandate/import") Import Mandates
        li
          a(href="/mandate/create") Create a mandate
        li
          a(href='/') Market Coverture
        li
          a(href='/') Juridic Safety
        li
          a(href='/') Managing Services
        li
          a(href='/') Service Providers 